@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700');

.container-fluid{
  padding-right: 0;
  padding-left: 0;
}

body{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #292929;
}

a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:focus{
	outline:0px;
}
.padding-tb-10{
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-lr-10{
  padding-left: 10px;
  padding-right: 10px;
}
.margin-tb-10{
  margin-top: 10px;
  margin-bottom: 10px;
}
.margin-lr-10{
  margin-left: 10px;
  margin-right: 10px;
}
.padding-tb-20{
  padding-top: 20px;
  padding-bottom: 20px;
}
.padding-lr-20{
  padding-left: 20px;
  padding-right: 20px;
}
.margin-tb-20{
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-lr-20{
  margin-left: 20px;
  margin-right: 20px;
}
.padding-tb-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.padding-lr-40{
  padding-left: 40px;
  padding-right: 40px;
}
.margin-tb-40{
  margin-top: 40px;
  margin-bottom: 40px;
}
.margin-lr-40{
  margin-left: 40px;
  margin-right: 40px;
}
.padding-tb-60{
  padding-top: 60px;
  padding-bottom: 60px;
}
.padding-lr-60{
  padding-left: 60px;
  padding-right: 60px;
}
.margin-tb-60{
  margin-top: 60px;
  margin-bottom: 60px;
}
.margin-lr-60{
  margin-left: 60px;
  margin-right: 60px;
}
.padding-b-10{
  padding-bottom: 10px;
}
.padding-b-20{
  padding-bottom: 20px;
}
.padding-b-60{
  padding-bottom: 60px;
}

h1{
  font-size: 3.1em;
  font-weight: 500;
  margin: 0;
}
h2{
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}
h3{
  font-size: 1.1em;
  font-weight: 300;
  margin: 0;
}
h4{
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

.container{
  max-width: 1200px;
}

/*head*/
#head{
  background-color: #333333;
  padding: 15px 0;
}
#head #logo{
  text-align: center;
}
#head #logo img{
  width: 216px;
}
#head #sign-in{
  text-align: right;
}
#head #sign-in a{
  color: #B3B3B3;
  font-weight: 300;
  line-height: 30px;
  vertical-align: middle;
  font-size: 0.9em;
}

/*slide*/
#slide{
  background-color: #202020;
  padding: 1.8em 0;
  color: white;
  font-weight: 300;
}
#slide .text{
  font-size: 0.9em;
  font-weight: 200;
}
#slide .brand span{
  border-bottom: 1px solid #979797;
}
#slide .video{
  margin: 2em 0;
}
#slide #cta{
  margin-bottom: 1em 0;
}
#slide #cta a{
  background-color: #E63327;
  border-radius: 4px;
  color: white;
  font-size: 1.5em;
  padding: 0.5em 1.5em;
  font-weight: 500;
  display: inline-block;
}

/*opportunities*/
#opportunities{
  padding: 4em 0;
}

/*advantage*/
#advantage{
  padding: 4em 0;
  background-color: #F3F3F7;
}
#advantage ul {
  margin: 0;
  padding: 0;
}
#advantage li {
  list-style: none;
  border-left: solid 2px #00A6A2;
  margin-bottom: 1em;
  padding-left: 1em;
}

/*work*/
#work{
  padding: 4em 0;
}
#work .number{
  font-size: 2em;
  color: #00A6A2;
  font-weight: 200;
  border: 1px solid #00A6A2;
  display: inline-block;
  border-radius: 1em;
  width: 1.8em;
  height: 1.8em;
}
#work span{
  font-size: 0.85em;
}

/*sales*/
#sales{
  padding: 4em 0;
  background: url("https://cdn2.hubspot.net/hubfs/353969/leadsplus/img-background-sales.png") #F3F3F7 center no-repeat;
}
#sales strong{
  color: #E63327;
  font-size: 1.2em;
}

/*footer*/
#footer{
  background-color: #333333;
  color: #CCCCCC;
  font-weight: 200;
  font-size: 0.8em;
  padding: 1.8em 0;
}
#footer a{
  color: white;
}

/*inline*/
#inline{
  background-color: #F3F3F3;
  width: 600px;
  max-width: 100%;
}
#inline .title{
  background-color: white;
}
#inline .field {
  margin-bottom: 1.5em;
}
#inline form {
  padding: 1em;
}
#inline label{
  position: absolute;
  padding-top: 1em;
}
#inline .hs-error-msgs label{
  color: #E63327;
  font-size: 0.7em;
  padding-top: 0;
  margin-left: 1em;
}
#inline fieldset{
  width: 100%;
  max-width: 100%;
  position: relative;
}
#inline legend{
  border-bottom: 0;
  margin-left: 1em;
}
#inline .actions{
  margin-top: 0;
  margin-bottom: 0;
  padding: 1px 20px 1px 0px;
  text-align: center;
}
#inline input[type=text], #inline input[type=email]{
  font-family: 'Raleway', sans-serif;
  border: 1px solid #e7e7e7;
  background-color: white;
  box-shadow: none;
  border-radius: 0;
  padding: 0.5em;
  font-size: 1em;
  max-width: 100%;
  margin-left: 1em;
}
#inline select{
  font-family: 'Raleway', sans-serif;
  border: 1px solid #e7e7e7;
  background-color: white;
  box-shadow: none;
  border-radius: 0;
  padding: 0.5em;
  font-size: 1em;
  max-width: 100%;
  width: 98%;
  margin-left: 0.5em;
}
#inline input[type=submit]{
  background-color: #E63327;
  color: white;
  font-size: 1.1em;
  background-image: none;
  border: none;
  text-shadow: none;
  font-weight: 500;
  border-radius: 4px;
  padding: 1.5em 4em;
  box-shadow: none;
}
#inline textarea{
  font-family: 'Raleway', sans-serif;
  border: 1px solid #e7e7e7;
  background-color: white;
  box-shadow: none;
  border-radius: 0;
  padding: 0.5em;
  font-size: 1em;
  max-width: 100%;
  width: 98%;
  margin-left: 0.5em;
  min-height: 5em;
}

/*lity*/
.lity {
  background: rgba(51, 51, 51, 0.75);
}
.lity-content:after {
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*media*/
@media (max-width: 768px) {
  h2{
    font-size: 1.3em;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }
  h3{
    font-size: 1.1em;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
  h4{
    font-size: 1.2em;
    font-weight: 600;
    margin: 0;
    text-align: center;
  }
  .hide-sx{
    display: none;
  }
  .center-sx{
    text-align: center;
  }
  .clear-sx{
    clear: both;
  }
}
@media (min-width: 768px) {
  .hide-md{
    display: none;
  }
}
